@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #fffbfa;
}

@keyframes blobAnimation {
    0% { transform: scale(1) translateY(0); }
    50% { transform: scale(1.5) translateY(-30px); }
    100% { transform: scale(1) translateY(0); }
}

@keyframes moveBlob {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-100px, 50px); }
    50% { transform: translate(100px, -100px); }
    75% { transform: translate(-50px, -50px); }
    100% { transform: translate(0, 0); }
}

.animate-blob {
    animation: blobAnimation 10s infinite;
}

.animate-move {
    animation: moveBlob 20s infinite;
}

